server:
  port: 8080
logging:
  level:
    web: DEBUG
spring:
  profiles:
    active: dev
  ### devtools
  devtools:
    add-properties: false
    restart:
      enabled: true
  ### jackson
  jackson:
    time-zone: GMT+8
    date-format: yyyy-MM-dd HH:mm:ss
mybatis:
  mapper-locations:
    - classpath:mapper/*.xml
  type-aliases-package: org.caohh.template.model

### 项目自定义
custom:
  ### 跨域配置
  cors:
    mapping: "/**"
    origins: "*"
    credentials: true
    headers: "TOKEN"
    methods:
      - GET
      - POST
      - DELETE
      - PUT
    max-age: 3600
  ###
  auth-key: "TOKEN"